@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

body {
    width: 100%;
    display: flex;
    margin-right: 1vw;
}
.shopfeed {
    font-family: 'Inconsolata', monospace;
    position: fixed;
    margin-top: 13vw;
    width: 3.5vw;
    font-size: 0.7vw;
    right: 0;
    margin-right: 1vw;
    text-align: right;
}
.time {
    text-align: right;
}
#result {
    text-align: right;
}
.sftext {
    text-align: right;
}
.slash {
    margin-top: 1vw;
    display: block;
}
/*피씨버전*/
@media all and (min-width: 1024px) {

}
/*테블릿버전*/
@media all and (min-width: 768px) and (max-width: 1023px) {
    .shopfeed {
        display: none;
    }
}
/*모바일버전*/
@media all and (max-width: 767px) {
.shopfeed {
    display: none;
}
}